*{
    padding: auto;
    margin: auto;
    box-sizing:border-box;
}
html{
    font-size: 62,55;
}
.header{
    height: linear;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: # ;
}